
  <h3>Estas son las normas del torneo de Ajedrez de la RAM</h3>
      <h4>¡Hola, participante!</h4>
     <!-- <p>
      Primero de todo gracias a Diana Damas por su ayuda en la edición y a 
      todos los betatesters que habéis hecho este formulario posible. 
    </p>
    <p>
      NO TE ASUSTES PORQUE VEAS MUCHAS PÁGINAS O SECCIONES. No tendrás que rellenarlas todas.
      El formulario entero se completa en menos de 5 minutos.
    </p> -->
    <!-- <p>
      A continuación, te pedimos que LEAS CON ATENCIÓN estas sencillas normas
       para inscribirte en nuestro tradicional Torneo de Ajedrez de la RAM.
    </p>
    
     <ul> TEN EN CUENTA QUE:
      
      <li> Este formulario se cierra el día 2 de Diciembre
         a las 23:59 (porque es el nuevo plazo ampliado)</li>
      
     <li> *** Los datos aquí recogidos no serán públicos,
        y se utilizarán solamente para poder llevar a cabo esta actividad,
         una vez terminada se procederá al borrado de dichos datos.
        </li>
     <li> *** En esta actividad solo podrán participar MAYORES de edad, 
       los menores necesitarán de autorización.
      </li>

     <li> *** Este formulario será el ÚNICO método de inscripción al torneo.
        No se harán favores de cambiar nada, ni de devolver dinero pasados los plazos porque, 
        básicamente, ya no podremos, debido a vicisitudes informáticas, bancarias, legales y normativas.
      </li>

      <li>*** No se contestarán dudas que vengan aclaradas aquí. 
        Aunque habrá un hilo en el grupo de  Facebook de la RAM, 
        donde dejaré escritas dudas aclaradas.
      </li> 
   </ul> -->

    <button>Leido y continuar</button>
  
