<p>
    >>  CADA PARTICIPANTE en el torneo ha de cubrir SU PROPIA INSCRIPCIÓN, sea o no socio de Mensa.
    Una persona no puede inscribirse por otra, ni rellenar el formulario por dos personas. Pásale el link del formulario a tus invitados, ellos tienen que inscribirse de forma individual, como tú.
</p>  <p>
    >> El formulario lo rellena cada asistente como hemos dicho, pero si tienes invitados TENDRÁS QUE HACER TÚ EL PAGO POR ELLOS.
  </p><p>   
    >> El pago se realizará a través de la web de Mensa, con un ENLACE que recibiréis EN UNOS DÍAS por email en el que vendrán instrucciones precisas.
  </p> <!--<p>
    >> REPASA TUS RESPUESTAS. Este formulario sólo será editable hasta el inicio de los pagos ( que se podrán hacer aproximadamente a partir de 15 días de la publicación de este formulario).
  </p><p>
    >> Tienes que rellenar TODO EL FORMULARIO hasta que veas el mensaje de que has terminado.
  </p><p>
    >> Si tienes dudas, NO BUSQUES SOLUCIONES POR TU CUENTA, consulta estas normas o contacta conmigo (torneoajedrezram@gmail.com)
    
    
</p>-->
